* {
    box-sizing: border-box;
    border-radius: 3px;
}
body, html {
    height: 100%;
}

body {
    background-image: url('../assets/mt-tabor.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 10s ease-in infinite 0s;
    animation-timing-function: ease-in-out;
    color: black;
    font-weight: bold;
}

@keyframes slideBg {
    33% {
        background-image: url('../assets/Rose-Festival.png')
    }
    66% {
        background-image: url('../assets/sellwood-park.png')
    }
}
img {
    height: 200px;
    width: 200px;
    padding: 5px;
    background-color: darkgreen;
}
.character {
    height: 220px;
    width: 220px;
    background-color: green;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.character:hover {
    background-color: lightgreen;
    transition-duration: 300ms;
}
label:hover {
    cursor: pointer;
}
div input {
    display: none;
}
input:checked + img{
    background-color: black;
}
form label:first-of-type {
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2, h1 {
    background-image: url(../assets/pokadot.jpg);
    background-size: 40%;
    border: 3px green solid;
    width: auto;
    text-align: center;
    color: black;
    margin: 3px;
    padding: 5px;
}
#h2 {
    padding: 5px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
}
#choices {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
}
button:hover{
    transition-duration: 300ms;
    background-color: rgb(37, 67, 235);
    box-shadow: .5px .5px .5px rgb(37, 67, 235), -.5px -.5px .5px rgb(37, 67, 235);;
    cursor: pointer;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#name-field {
    background-color: silver;
    width: 220px;
    height: 60px;
}